<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cerberus</title>

    <script src="../dist/master-bundle.js"></script>
  </head>

  <body>
    <div id="app" class="appContainer" v-cloak>
      <div class="appDragBar">
        <div class="windowControls" id="min">
          <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><path d="m5.029 10.429h14" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>
        </div>

        <div class="windowControls" id="max">
          <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" transform="matrix(-1 0 0 1 18 3)"><path d="m9.5.5h-7c-1.1045695 0-2 .8954305-2 2v7c0 1.1045695.8954305 2 2 2h7c1.1045695 0 2-.8954305 2-2v-7c0-1.1045695-.8954305-2-2-2z" transform="matrix(0 1 -1 0 12 0)"/><path d="m11.5 15.5h2c1.1045695 0 2-.8954305 2-2v-7c0-1.1045695-.8954305-2-2-2h-7c-1.1045695 0-2 .8954305-2 2v2" transform="matrix(0 1 -1 0 20 0)"/></g></svg>
        </div>

        <div class="windowControls" id="close">
          <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"><path d="m.5 10.5 10-10" stroke-width="1.3"/><path d="m10.5 10.5-10-10z" stroke-width="1.3"/></g></svg>
        </div>
      </div>

      <%- include nav.ejs %>

      <transition name="fade">
        <div v-if="currentView === 'setFileServer'" class="container">
          <%- include setFileServer.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="currentView === 'imageConfig'" class="container">
          <%- include imageConfig.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="currentView === 'releasePage'" class="container">
          <%- include releasePage.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="currentView === 'vulnConfig'" class="container">
          <%- include vulnConfig.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="currentView === 'settings'" class="container">
          <%- include settings.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="loadingOverlay === true" class="loadingOverlay">
          <div class="loadingOverlayElements">
            <span class="loader"></span>
            <h1 style="font-weight: 300; font-size: 30px; color: white">{{ loadingOverlayMsg }}</h1>
          </div>
        </div>
      </transition>

    </div>
  </body>
</html>
