<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cerberus</title>

    <script src="../dist/master-bundle.js"></script>
  </head>

  <body>
    <div id="app" v-cloak>
      <%- include nav.ejs %>

      <transition name="fade">
        <div v-if="currentView === 'setFileServer'" class="container">
          <%- include setFileServer.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="currentView === 'imageConfig'" class="container">
          <%- include imageConfig.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="currentView === 'releasePage'" class="container">
          <%- include releasePage.ejs %>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="currentView === 'vulnConfig'" class="container">
          <%- include vulnConfig.ejs %>
        </div>
      </transition>
    </div>
  </body>
</html>
